/* 
BROWSER RESET 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  display: block;
  text-decoration: none;
}
a:hover {
  filter: brightness(0.9);
  transform: scale(0.98);
}
ul {
  list-style: none;
}
/* 
END BROWSER RESET 
*/
/* 
CSS VARIABLES 
*/
:root {
  font-size: 62.5%;
  scroll-behavior: smooth;

  --white: #ffffff;
  --black: #000000;
  --light-gray: #f6f6f7;
  --gray: #b7b7b7;
  --blue: #170e47;
  --green: #3bff72;

  --shadow: drop-shadow(0rem 0.5rem 0.5rem rgba(0, 0, 0, 0.4));

  --pop: 'Poppins';
  --nun: 'Nunito';

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
}
/*
END CSS VARIABLES
*/
body {
  position: relative;
  background: var(--white);
  font-family: var(--pop);
}
h1 {
  font-family: var(--pop);
  font-weight: var(--font-light);
  color: var(--white);
  font-size: 4rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}
h2 {
  position: relative;
  font-family: var(--pop);
  font-weight: var(--font-regular);
  color: var(--blue);
  font-size: 3rem;
  text-align: center;
  line-height: 1.3;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}
h2 span {
  color: var(--green);
  font-weight: var(--font-bold);
}
h2::before {
  content: '';
  width: 25rem;
  height: 0.3rem;
  background-color: var(--gray);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0rem;
}
h2::after {
  content: '';
  width: 9rem;
  height: 0.6rem;
  background-color: var(--green);
  position: absolute;
  left: calc(50% - 9rem);
  transform: translateX(-50%);
  bottom: -0.2rem;
}
h3 {
  font-family: var(--nun);
  font-weight: var(--font-bold);
  font-size: 1.7rem;
  color: var(--blue);
  line-height: 1.3;
  margin-bottom: 1rem;
}
p {
  font-size: 1.5rem;
  color: var(--white);
  font-family: var(--nun);
  font-weight: var(--font-regular);
  line-height: 1.7;
  margin-bottom: 2rem;
}
strong {
  font-weight: var(--font-bold);
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.btn-green {
  background-color: var(--green);
  color: var(--blue);
  font-family: var(--nun);
  font-weight: var(--font-regular);
  border-radius: 5rem;
  padding: 1.1rem 3rem;
  font-size: 1.5rem;
  width: fit-content;
}
/*
HEADER
*/
header.menu {
  top: 0;
  right: 0;
  width: 100%;
  background: var(--blue);
  padding: 2rem;
  z-index: 10;
  box-sizing: border-box;
}
header.menu .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.menu a.logo img {
  height: 5rem;
  width: auto;
}
/*
END HEADER
*/
/*
HERO
*/
.hero {
  position: relative;
  background: var(--blue);
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding: 2rem 0;
}
.hero .row {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 5rem;
  align-items: center;
}
.hero .content ul.checked-list {
  margin-bottom: 3rem;
}
.hero .content ul.checked-list li {
  font-family: 'Poppins';
  color: var(--white);
  font-weight: var(--font-regular);
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  line-height: 1.5;
}
.hero .content ul.checked-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.3rem;
  width: 2rem;
  height: 2rem;
  background-image: url('../public/icon-check.png');
  background-size: cover;
}
.hero .section-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}
/*
END HERO
*/
/*
ANTECIPE
*/
.antecipe {
  padding: 3rem 0;
}
.antecipe .subtitle {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
  text-align: center;
}
.antecipe .boxes {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6rem;
  position: relative;
}

.antecipe .boxes::before {
  content: '';
  width: calc((25rem * 2) + (6rem * 2));
  height: 2px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border-top: 2px dashed black;
}

.antecipe .boxes .box::before {
  content: '';
  width: 2px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: -25px;
  border-left: 2px dashed black;
}

.antecipe .boxes .box {
  position: relative;
  width: 25rem;
  flex-direction: column;
  display: flex;
  justify-items: center;
  align-items: center;
}
.antecipe .boxes .box .icone {
  width: 9rem;
  height: auto;
  margin-bottom: 2rem;
  filter: var(--shadow);
}
.antecipe .boxes .box h3 {
  text-align: center;
}
.antecipe .boxes .box p {
  color: var(--blue);
  text-align: center;
}
/*
END ANTECIPE
*/
/*
DESTAQUES
*/
.destaques .row {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 2.5rem));
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 3rem;
}
.destaques h2 {
  text-align: left;
}
.destaques h2::before {
  left: 0;
  transform: translateX(0);
}
.destaques h2::after {
  left: 0;
  transform: translateX(0);
}
.destaques p {
  color: var(--blue);
}
.destaques .section-image {
  margin: 0 auto;
}
.destaques .section-image img {
  max-width: 100%;
  height: auto;
}
/*
END DESTAQUES
*/
/*
VIDEO-SOBRE
*/
.video-sobre {
  background: var(--light-gray);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20rem auto;
  padding: 5rem 0;
}
.video-sobre .row {
  width: 70rem;
  margin: 0 auto;
}
/*
END VIDEO-SOBRE
*/
/*
FAQ
*/
.faq {
  padding: 4rem 0;
}
.faq .row {
  margin: 0 auto;
  width: 70rem;
}
/*
END FAQ
*/
/*
FOOTER
*/
footer {
  background-color: #170e47;
  padding: 5rem 0;
}
footer .row {
  display: flex;
  justify-content: space-between;
}
footer .logo img {
  height: 5rem;
  margin-bottom: 3rem;
}
footer .about {
  width: 40rem;
}
footer .about p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
footer .about a.email {
  color: var(--white);
  margin-top: 3rem;
  font-family: var(--pop);
}
footer .social {
  width: 15rem;
}
footer .social-list {
  list-style: none;
  display: flex;
  gap: 0.7rem;
}
footer .social-list img {
  width: 3rem;
  margin-bottom: 2rem;
}
footer .social p {
  font-size: 1.2rem;
}
/*
END FOOTER
*/
@media (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  h1 {
    font-size: 3rem;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 768px;
  }
  .destaques .row {
    width: 100%;
  }
  .antecipe .subtitle {
    width: 60%;
  }
  .antecipe .boxes .box {
    width: 20rem;
  }
  .antecipe .boxes::before {
    width: calc((20rem * 2) + (6rem * 2));
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 576px;
  }
  .hero .row {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .hero .content h1 {
    text-align: center;
  }
  .hero .content p {
    width: 100%;
    text-align: center;
  }
  .antecipe .subtitle {
    width: 80%;
  }
  .hero .content .btn-green {
    margin: 0 auto;
  }
  .destaques .row {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .destaques .content {
    order: 1;
  }
  .destaques .section-image {
    order: 2;
  }
  .antecipe .boxes .box:first-child::before {
    display: none;
  }
  .antecipe .boxes {
    gap: 4rem;
  }
  .antecipe .boxes .box::before {
    height: 35px;
    top: -40px;
  }
  .antecipe .boxes::before {
    display: none;
  }
  .antecipe .boxes .box {
    width: 25rem;
  }
  .video-sobre .row {
    width: 100%;
  }
  .faq .row {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 1rem;
  }
  h1 {
    font-size: 2.6rem;
  }
  header.menu a.logo img {
    height: 4rem;
  }
  .hero .content ul.checked-list li {
    font-size: 1.3rem;
  }
  .destaques h2 {
    font-size: 2.5rem;
  }
  .video-sobre {
    background-position: -20% center;
  }
  footer .row {
    flex-direction: column;
    gap: 3rem;
  }
  footer .about {
    width: 100%;
  }
  footer .social {
    width: 100%;
  }
  footer .social-list {
    justify-content: center;
  }
  footer .social p {
    text-align: center;
  }
}
@media (max-width: 400px) {
  .destaques h2 {
    font-size: 2.4rem;
  }
}
